<a href="https://colab.research.google.com/github/RuthIded15/Funciones-Python/blob/main/Funciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hola mundo")

hola mundo

In [ ]:
lista_nombres = ["Marcos" ,"Laura", "Mónica", "Javier", "Celina", "Marta", "Darío", "Emiliano", "Melisa"]
for nombre in lista_nombres:
    if nombre.startswith("M"):
        print(nombre)

Marcos
Mónica
Marta
Melisa

In [ ]:
nombre='ruth'
nombre2=''.join(reversed(nombre)).upper()
print(nombre2)

HTUR

In [ ]:
numero_negativo = 19
positivo = abs(numero_negativo)
print(positivo)

19

In [ ]:
def numeros_persona(*args,nombre):
    return sum(args),nombre
numeros_persona(1,2,3,4,nombre="Ruth")

(10, 'Ruth')

In [ ]:
def f(*args, b):
     return args, b
f(1, 2, b=3)

((1, 2), 3)

**EJERCICIO 1**

Crea una función llamada
devolver_distintos()
que reciba
3integers
como
parámetros
.
Si la
suma
de los 3 numeros es
mayor a 15
, va a
devolver
elnúmero
mayor
.
Si la
suma
de los 3 numeros es
menor a 10
, va a
devolver
elnúmero
menor
.
Si la
suma
de los 3 números es un valor
entre 10 y 15(incluidos)
va a
devolver
el número de
valor intermedio
.

In [ ]:
def devolver_distintos(a,b,c):
  lista=[a,b,c]
  suma=a+b+c
  if suma> 15:
    return max(lista)
  elif suma< 10:
      return min(lista)
  else:
    lista.sort()
    return lista[1]

print(devolver_distintos(9,4,5))

9

**EJERCICIO 2**

Escribe una función
(puedes ponerle cualquier nombre quequieras)
que reciba cualquier palabra como parámetro, y quedevuelva todas sus letras únicas
(sin repetir)
pero en ordenalfabético.
Por ejemplo si al invocar esta función pasamos la palabra"entretenido", debería devolver ['d', 'e', 'i', 'n', 'o', 'r', 't']

In [5]:
def palabra(a):
  lista=list(set(a))
  lista.sort()
  return lista
palabra("alexander")

['a', 'd', 'e', 'l', 'n', 'r', 'x']

**EJERCICIO 3**

Escribe una función que requiera una cantidad indefinida deargumentos. Lo que hará esta función es devolver
True
si enalgún momento se ha ingresado al numero
cero
repetido dosveces consecutivas
.
Por ejemplo:
(5,6,1,0,0,9,3,5) >>>
True
(6,0,5,1,0,3,0,1) >>>
False

In [7]:
def funcion(*args):
  contador=0
  for num in args:
    if args[contador]==0 and args[contador+1]==0:
      return True
    else:
      contador=contador+1
  return False

funcion(5,6,3,8,1,0,9)

False

**EJERCICIO 4**

Escribe una función llamada
contar_primos()
que requiera unsolo argumento numérico.
Esta función va a mostrar en pantalla
cuántos númerosprimos hay
en el rango que va
desde cero hasta ese número
incluido
, y va a
devolver
la
cantidad
de números primos queencontró.
Aclaración, por convención el 0 y el 1 no se consideran primos.

In [13]:
def contar_primos(numero):
  primos=[2]
  iteracion=3
  if numero<2:
    return 0
  while iteracion <= numero:
    for n in range(3,iteracion,2):
      if iteracion % n==0:
        iteracion +=2
        break
    else:
       primos.append(iteracion)
       iteracion +=2
  print(primos)
  return len(primos)

contar_primos(5)

[2, 3, 5]

3

In [8]:
def es_primo(num):
    for n in range(2, num):
        if num % n == 0:
            print("No es primo", n, "es divisor")
            return False
    print("Es primo")
    return True
es_primo(7)

Es primo

True

In [ ]:
from google.colab import drive
drive.mount('/content/drive')